@using AJKAccessGuard.Providers
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity?.Name!
            <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
        </Authorized>
        <NotAuthorized>
            <a href="/signin">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;
        await Task.CompletedTask;
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity!.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    public void BeginLogOut()
    {
        var customProvider = AuthenticationStateProvider as CustomAuthenticationStateProvider;
        if (customProvider != null)
        {
            customProvider.NotifyUserLogoutAsync();
        }
    }
}
