@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <NavLink class="nav-link" href="About">About</NavLink>
            <NavLink class="nav-link" href="Privacy">Privacy</NavLink>
        </div>

        <article class="content px-4">
            <ErrorBoundary @ref="errorBoundary">
                @Body
            </ErrorBoundary>
        </article>
    </main>
</div>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}