@if (ErrorList.Any())
{
    <div class="alert alert-danger mt-1">
    <ul>
        @foreach (var error in ErrorList)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

@code{
    [Parameter]
    public List<string> ErrorList { get; set; } = new List<string>();
}