@page "/"

<PageTitle>Home</PageTitle>

<div class="centered-container">
    <h1 class="title-box">
        AJK Access Guard
    </h1>
</div>

<div class="centered-container">
    <h2 class="welcome-message">Witamy w AJK Access Guard!</h2>
    <p class="description">
        System zarządzania dostępem, który zapewnia bezpieczeństwo i kontrolę nad Twoimi zasobami.
    </p>
</div>
