@page "/app-users"
@using AJKAccessControl.Shared.DTOs
@using AJKAccessGuard.Services
@inject IUsersApiService api
@inject IUserStorageService userStorage
@inject NavigationManager NavigationManager

<PageTitle>UserManagement</PageTitle>

<div class="centered-container">
    <h1 class="title-box">
        Zarządzanie użytkownikami
    </h1>
</div>
@switch (windowMode)
{
    case "list":
        <UsersList Users="users" AddUser="AddUser" />
        break;
    case "add":
        <CreateUser Cancel="Cancel"/>
        break;
}

@code {
    private List<UserDto> users = new List<UserDto>();
    private string windowMode = "list";
    private void AddUser()
    {
        windowMode = "add";
    }
    private void Cancel()
    {
        windowMode = "list";
    }
    
    protected override async Task OnInitializedAsync()
    {
        var token = await userStorage.GetTokenAsync();
        if (string.IsNullOrEmpty(token))
        {
            NavigationManager.NavigateTo("/signin");
        }
        else
        {
            users = (await api.GetAllUsersAsync(token)).ToList();
        }
    }
}