@page "/app-users"
@using AJKAccessControl.Shared.DTOs
@using AJKAccessGuard.Services
@inject IUsersApiService api

<PageTitle>UserManagement</PageTitle>

<div class="centered-container">
    <h1 class="title-box">
        Zarządzanie użytkownikami
    </h1>
</div> 


@code {
    private List<UserDto> users = new List<UserDto>();

    protected override async Task OnInitializedAsync()
    {
        var login = new LoginDto
        {
            Email = "j.klebucki@ajksoftware.pl",
            Password = "Password2022!"
        };
        var token = await api.LoginUserAsync(login);
        users = (await api.GetAllUsersAsync(token)).ToList();
    }
}