
.table-custom .btn {
    padding: 5px 10px;
    font-size: 14px;
}

.table-custom .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.table-custom .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.table-custom .btn-primary:hover, .table-custom .btn-danger:hover {
    opacity: 0.8;
}